.git
.github
node_modules
vendor
.env
.env.*
!.env.example
tests
.phpunit.cache
.phpunit.result.cache
phpunit.xml
.editorconfig
*.md
!README.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/build
public/hot
docker/secrets/composer_auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
.fleet
.idea
.vscode
.zed
